<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <title>Gym website</title>
</head>
<body class="advantage-body">
    <section>
        <div class="navbar">
            <a href="./index.html"><img src="/static/css/publice/gym24.png" alt="Gym 24"></a>
            <ul>
                <li><a href="./advantage.html">Advantages</a></li>
                <li><a href="./member.html">Membership</a></li>
                <li><a href="./about.html">About</a></li>
                <li><a href="./trainer.html">Trainer</a></li>
            </ul>
        </div>
    </section>
    <section id="advantage">
        <div class="advantage-container">
            <div class="advan-box1">
                <h1>Reason to join</h1>
            </div>
            <div class="advantage-box">
                <div class="advan-box2">
                    <img src="/static/css/publice/icon1.png" alt="icon">
                    <div class="box2-part">
                        <h1>15000 sq.m.</h1>
                        <p>A spacious gym for sports-a safe distance <br>between exercise machines</p>
                    </div>
                </div>
                <div class="advan-box2">
                    <img src="/static/css/publice/icon2.png" alt="icon">
                    <div class="box2-part">
                        <h1>More than 200 equipment</h1>
                        <p>No queues at simulators. Premium equipment <br>form Lifestyle. Hammer Strenght, TechnoGym</p>
                    </div>
                </div>
                <div class="advan-box2">
                    <img src="/static/css/publice/icon3.png" alt="icon">
                    <div class="box2-part">
                        <h1>4 fitness zones</h1>
                        <p>From cardio to functional and cycle. separate area <br>for boxing and mix martial arts</p>
                    </div>
                </div>
                <div class="advan-box2">
                    <img src="/static/css/publice/icon4.png" alt="icon">
                    <div class="box2-part">
                        <h1>Round-the-clock operation</h1>
                        <p>The gym is open 24 hours a day, also works on all <br>holiday and weekends</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="footer-container">
        <div class="footer-box1">
            <img src="/static/css/publice/gym24.png" alt="gym24">
            <p>Build strength and confidence at <br>our gym with state-of-the-art <br>equipment, personalized training, <br>and a motivating community</p>
        </div>
        <div class="footer-box2">
            <h1>Address</h1>
            <p>Republic of Belarus <br>Minsk city <br>Dzerzhinsky Avenue 15</p>
        </div>
        <div class="footer-box3">
            <h1>Contact</h1>
            <p>📞 +375(44)-777-24-12</p>
            <p>📧 gym24@gmail.com</p>
            <a href="https://www.instagram.com/yourusername" target="_blank"><i class="fab fa-instagram"></i></a>
            <a href="https://t.me/yourusername" target="_blank"><i class="fab fa-telegram"></i></a>
            <a href="https://www.youtube.com/c/yourchannel" target="_blank"><i class="fab fa-youtube"></i></a>
            <a href="https://www.facebook.com/yourusername" target="_blank" style="text-decoration: none;"><i class="fab fa-facebook-f"></i></a>
        </div>
    </div>
</body>
</html>