<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <title>Gym websits</title>
</head>
<body class="member-body">
    <section>
        <div class="navbar">
            <a href="./index.html"><img src="/static/css/publice/gym24.png" alt="Gym 24"></a>
            <ul>
                <li><a href="./advantage.html">Advantages</a></li>
                <li><a href="./member.html">Membership</a></li>
                <li><a href="./about.html">About</a></li>
                <li><a href="./trainer.html">Trainer</a></li>
            </ul>
        </div>
    </section>
    <section id="member">
        <div class="member-container">
            <div class="member-head">
                <center><h1>Gym membership</h1></center>
            </div>
            <div class="member-boxall">
            <div class="member-box">
              <center><h2>Pass ‘Trial’</h2></center>
              <center><h1>$ 0</h1></center>
              <div class="member-box2">
                    <p>🗸 Acces to gym from 8:00 to 14:00</p>
                    <p>🗸 The trainer on duty will introduce you to the gym</p>
                    <button>Buy</button>
              </div>
            </div>
            <div class="member-box">
                <center><h2>Pass ‘Easy Start’</h2></center>
                <center><h1>$ 119</h1></center>
                <div class="member-box2">
                        <p>🗸 Visit without restrictions 24/7</p>
                        <p>🗸 Individual training program</p>
                        <p>🗸 Access to the VTRAINER application</p>
                        <p>🗸 Trainer support</p>
                        <button>Buy</button>
                </div>
            </div>
            <div class="member-box">
                <center><h2>Pass ‘Free Time’</h2></center>
                <center><h1>$ 49</h1></center>
                <div class="member-box2">
                       <p>🗸 The entrance time to the gym is from 14:00 to 16:00</p>
                       <p>🗸  Without suspension of gym membership</p>
                       <p>🗸 The trainer on duty will introduce you to the gym</p>
                       <button>Buy</button>
                </div>
            </div>
            <div class="member-box">
                <center><h2>Pass ‘1 Month 24/7’</h2></center>
                <center><h1> $ 85</h1></center>
                <div class="member-box2">
                     <p>🗸 Visit without restrictions 24/7</p>
                     <p>🗸 The trainer on duty will introduce you to the gym</p>
                     <button>Buy</button>
                  </div>
            </div>
            <div class="member-box">
                <center><h2>Pass ‘In Shape (AM)’</h2></center>
                <center><h1>$ 165</h1></center>
                <div class="member-box2">
                      <p>🗸 Training in mini-groups until 14:00</p>
                      <p>🗸 Without suspension of gym membership</p>
                      <p>🗸 Classes with a trainer in a mini-group 3 times a week</p>
                      <p>🗸 Trainer support</p>
                      <button>Buy</button>
                </div>
            </div>
            <div class="member-box">
                <center><h2>Pass ‘In Shape (PM)’</h2></center>
                <center><h1>$ 195</h1></center>
                <div class="member-box2">
                    <p><i>🗸</i> Training in mini-groups until 17:00</p>
                    <p>🗸 Without suspension of gym membership</p>
                    <p>🗸 Classes with a trainer in a mini-group 3 times a week</p>
                    <p>🗸 Trainer support</p>
                    <button>Buy</button>
                </div>
            </div>
          </div>
        </div>
    </section>
    <div class="footer-container">
        <div class="footer-box1">
            <img src="/static/css/publice/gym24.png" alt="gym24">
            <p>Build strength and confidence at <br>our gym with state-of-the-art <br>equipment, personalized training, <br>and a motivating community</p>
        </div>
        <div class="footer-box2">
            <h1>Address</h1>
            <p>Republic of Belarus <br>Minsk city <br>Dzerzhinsky Avenue 15</p>
        </div>
        <div class="footer-box3">
            <h1>Contact</h1>
            <p>📞 +375(44)-777-24-12</p>
            <p>📧 gym24@gmail.com</p>
            <a href="https://www.instagram.com/yourusername" target="_blank"><i class="fab fa-instagram"></i></a>
            <a href="https://t.me/yourusername" target="_blank"><i class="fab fa-telegram"></i></a>
            <a href="https://www.youtube.com/c/yourchannel" target="_blank"><i class="fab fa-youtube"></i></a>
            <a href="https://www.facebook.com/yourusername" target="_blank" style="text-decoration: none;"><i class="fab fa-facebook-f"></i></a>
        </div>
    </div>
</body>
</html>