<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <title>Gym website</title>
</head>
<body class="trainer-body">
    <section>
        <div class="navbar">
            <a href="./index.html"><img src="/static/css/publice/gym24.png" alt="Gym 24"></a>
            <ul>
                <li><a href="./advantage.html">Advantages</a></li>
                <li><a href="./member.html">Membership</a></li>
                <li><a href="./about.html">About</a></li>
                <li><a href="./trainer.html">Trainer</a></li>
            </ul>
        </div>
    </section>
    <section id="staff">
        <div class="staff-container">
            <div class="staff-box1">
                <center><h1>Trainers staff</h1></center>
            </div>
            <div class="staff-blog">
                <div class="staff-box2">
                    <img src="/static/css/publice/trainer1.png" alt="trainer">
                    <h1>Anatoly Prytytsky</h1>
                    <div class="staff-icon">
                        <a href="https://www.instagram.com/yourusername" target="_blank"><i class="fab fa-instagram"></i></a>
                        <a href="https://t.me/yourusername" target="_blank"><i class="fab fa-telegram"></i></a>
                        <a href="https://www.youtube.com/c/yourchannel" target="_blank"><i class="fab fa-youtube"></i></a>
                    </div>
                </div>
                <div class="staff-box2">
                    <img src="/static/css/publice/trainer1.png" alt="trainer">
                    <h1>Anatoly Prytytsky</h1>
                    <div class="staff-icon">
                        <a href="https://www.instagram.com/yourusername" target="_blank"><i class="fab fa-instagram"></i></a>
                        <a href="https://t.me/yourusername" target="_blank"><i class="fab fa-telegram"></i></a>
                        <a href="https://www.youtube.com/c/yourchannel" target="_blank"><i class="fab fa-youtube"></i></a>
                    </div>
                </div>
                <div class="staff-box2">
                    <img src="/static/css/publice/trainer1.png" alt="trainer">
                    <h1>Anatoly Prytytsky</h1>
                    <div class="staff-icon">
                        <a href="https://www.instagram.com/yourusername" target="_blank"><i class="fab fa-instagram"></i></a>
                        <a href="https://t.me/yourusername" target="_blank"><i class="fab fa-telegram"></i></a>
                        <a href="https://www.youtube.com/c/yourchannel" target="_blank"><i class="fab fa-youtube"></i></a>
                    </div>
                </div>
                <div class="staff-box2">
                    <img src="/static/css/publice/trainer1.png" alt="trainer">
                    <h1>Anatoly Prytytsky</h1>
                    <div class="staff-icon">
                        <a href="https://www.instagram.com/yourusername" target="_blank"><i class="fab fa-instagram"></i></a>
                        <a href="https://t.me/yourusername" target="_blank"><i class="fab fa-telegram"></i></a>
                        <a href="https://www.youtube.com/c/yourchannel" target="_blank"><i class="fab fa-youtube"></i></a>
                    </div>
                </div>
                <div class="staff-box2">
                    <img src="/static/css/publice/trainer1.png" alt="trainer">
                    <h1>Anatoly Prytytsky</h1>
                    <div class="staff-icon">
                        <a href="https://www.instagram.com/yourusername" target="_blank"><i class="fab fa-instagram"></i></a>
                        <a href="https://t.me/yourusername" target="_blank"><i class="fab fa-telegram"></i></a>
                        <a href="https://www.youtube.com/c/yourchannel" target="_blank"><i class="fab fa-youtube"></i></a>
                    </div>
                </div>
                <div class="staff-box2">
                    <img src="/static/css/publice/trainer1.png" alt="trainer">
                    <h1>Anatoly Prytytsky</h1>
                    <div class="staff-icon">
                        <a href="https://www.instagram.com/yourusername" target="_blank"><i class="fab fa-instagram"></i></a>
                        <a href="https://t.me/yourusername" target="_blank"><i class="fab fa-telegram"></i></a>
                        <a href="https://www.youtube.com/c/yourchannel" target="_blank"><i class="fab fa-youtube"></i></a>
                    </div>
                </div>
                <div class="staff-box2">
                    <img src="/static/css/publice/trainer1.png" alt="trainer">
                    <h1>Anatoly Prytytsky</h1>
                    <div class="staff-icon">
                        <a href="https://www.instagram.com/yourusername" target="_blank"><i class="fab fa-instagram"></i></a>
                        <a href="https://t.me/yourusername" target="_blank"><i class="fab fa-telegram"></i></a>
                        <a href="https://www.youtube.com/c/yourchannel" target="_blank"><i class="fab fa-youtube"></i></a>
                    </div>
                </div>
                <div class="staff-box2">
                    <img src="/static/css/publice/trainer1.png" alt="trainer">
                    <h1>Anatoly Prytytsky</h1>
                    <div class="staff-icon">
                        <a href="https://www.instagram.com/yourusername" target="_blank"><i class="fab fa-instagram"></i></a>
                        <a href="https://t.me/yourusername" target="_blank"><i class="fab fa-telegram"></i></a>
                        <a href="https://www.youtube.com/c/yourchannel" target="_blank"><i class="fab fa-youtube"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="footer-container">
        <div class="footer-box1">
            <img src="/static/css/publice/gym24.png" alt="gym24">
            <p>Build strength and confidence at <br>our gym with state-of-the-art <br>equipment, personalized training, <br>and a motivating community</p>
        </div>
        <div class="footer-box2">
            <h1>Address</h1>
            <p>Republic of Belarus <br>Minsk city <br>Dzerzhinsky Avenue 15</p>
        </div>
        <div class="footer-box3">
            <h1>Contact</h1>
            <p>📞 +375(44)-777-24-12</p>
            <p>📧 gym24@gmail.com</p>
            <a href="https://www.instagram.com/yourusername" target="_blank"><i class="fab fa-instagram"></i></a>
            <a href="https://t.me/yourusername" target="_blank"><i class="fab fa-telegram"></i></a>
            <a href="https://www.youtube.com/c/yourchannel" target="_blank"><i class="fab fa-youtube"></i></a>
            <a href="https://www.facebook.com/yourusername" target="_blank" style="text-decoration: none;"><i class="fab fa-facebook-f"></i></a>
        </div>
    </div>
</body>
</html>